Step 1: Imports
Import relevant libraries and modules

In [1]:
# Import the relevant Python libraries and modules needed in this lab.

import pandas as pd

Load the dataset into a DataFrame

In [7]:
# Load the dataset provided into a DataFrame.

data = pd.read_csv("cost_revenue.csv")

Step 2: Data exploration
Display the first 10 rows of the data

In [8]:
# Display the first 10 rows of the data.

data.head(10)

   production_budget_usd  worldwide_gross_usd
0                1000000                   26
1                  10000                  401
2                 400000                  423
3                 750000                  450
4                  10000                  527
5                1800000                  673
6                1000000                  703
7                6600000                  828
8                1000000                  884
9                   7000                  900

Identify the number of rows and columns

In [9]:
data.shape

(5034, 2)

Display the data types of the columns

In [10]:
data.dtypes

production_budget_usd    int64
worldwide_gross_usd      int64
dtype: object